.snakeGame {
  width: 100%;
  height: 100vh; 
  display: flex;
  padding: 5%;
}

.gameArea{
  border: 2px solid grey;
  position: relative;
}

.snakeDot {
  height:2%;
  width: 2%;
  background-color: #000;
  border: 1px solid #fff;
  position: absolute;
}

.snakeFood {
  height: 2%;
  width: 2%;
  background: red;
  border: 1px solid #fff;
  position: absolute;
}

.snakeGame__settings {
  width: 40%;
  padding: 10%;
}

.snakeGame__header {
  font-family: 'Bungee Shade', cursive;
}

